<div class="toolbar">
  <div class="logo"> Logo Site</div>
  <div class="menu">
    <button class="effect">Anime</button>
    <button class="effect">Manga</button>
    <button class="effect">Community</button>
  </div>
  <div class="account">
    <button class="effect">Login</button>
    <button class="register">Sign Up</button>
  </div>
  
</div>

<mat-carousel interval="10000">
  <mat-carousel-slide image="../assets/frame.png"></mat-carousel-slide>
  <mat-carousel-slide image="../assets/onep.png"></mat-carousel-slide>
  <mat-carousel-slide image="../assets/dbz.png"></mat-carousel-slide>
</mat-carousel>
<div class="empty"></div>
<div class="contenu">
  <div class="line"></div>
  <div class="txt">Top Airing Anime</div>

  <div class="top">
    
    <div class="rank">
      <div style="float:left;">
        <img src="../assets/kimetsu.jpg" style="width:100px;">
      </div>
      <div style="float: left; margin-left:2%;margin-top:-8%">
        <p style="text-decoration:underline;text-decoration-color:#F45F4A;font-size:20px;">Kimetsu no Yaiba</p>
        <p style="font-size:14px;">Episodes :</p>
        <p style="font-size:14px;margin-top:-4%"> Scored : </p>
        <p style="font-size:14px;margin-top:-4%">... members</p>
      </div>
    </div>

    <div class="rank">
        <div style="float:left;">
          <img src="../assets/kimetsu.jpg" style="width:100px;">
        </div>
        <div style="float: left; margin-left:2%;margin-top:-8%">
          <p style="text-decoration:underline;text-decoration-color:#F45F4A;font-size:20px;">Kimetsu no Yaiba</p>
          <p style="font-size:14px;">Episodes :</p>
          <p style="font-size:14px;margin-top:-4%"> Scored : </p>
          <p style="font-size:14px;margin-top:-4%">... members</p>
        </div>
      </div>

      <div class="rank">
          <div style="float:left;">
            <img src="../assets/kimetsu.jpg" style="width:100px;">
          </div>
          <div style="float: left; margin-left:2%;margin-top:-8%">
            <p style="text-decoration:underline;text-decoration-color:#F45F4A;font-size:20px;">Kimetsu no Yaiba</p>
            <p style="font-size:14px;">Episodes :</p>
            <p style="font-size:14px;margin-top:-4%"> Scored : </p>
            <p style="font-size:14px;margin-top:-4%">... members</p>
          </div>
        </div>

        <div class="rank">
            <div style="float:left;">
              <img src="../assets/kimetsu.jpg" style="width:100px;">
            </div>
            <div style="float: left; margin-left:2%;margin-top:-8%">
              <p style="text-decoration:underline;text-decoration-color:#F45F4A;font-size:20px;">Kimetsu no Yaiba</p>
              <p style="font-size:14px;">Episodes :</p>
              <p style="font-size:14px;margin-top:-4%"> Scored : </p>
              <p style="font-size:14px;margin-top:-4%">... members</p>
            </div>
          </div>

          <div class="rank">
              <div style="float:left;">
                <img src="../assets/kimetsu.jpg" style="width:100px;">
              </div>
              <div style="float: left; margin-left:2%;margin-top:-8%">
                <p style="text-decoration:underline;text-decoration-color:#F45F4A;font-size:20px;">Kimetsu no Yaiba</p>
                <p style="font-size:14px;">Episodes :</p>
                <p style="font-size:14px;margin-top:-4%"> Scored : </p>
                <p style="font-size:14px;margin-top:-4%">... members</p>
              </div>
            </div>


  </div>
</div>


<router-outlet></router-outlet>
