<app-navbar></app-navbar>

<div>
    <div style="background-color: black;height: 400px;position: relative;">
        <img src="../../../assets/hackRow.jpg" style="height: 400px;width: 100vw;opacity: 0.6;">
        <div class="titleAnime">
            {{infos?.title}}
        </div>
    </div>

    <div class="anime_img">
        <img src="../../../assets/hack.jpg" style="width: 400px;height: 300px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.6);">
    </div>
</div>

<mat-card class="anime_card mat-elevation-z5">
    <mat-card-content>
        <mat-toolbar style="background-color: transparent;height: 220px;padding-left: 450px;">
            <mat-toolbar-row>
                <mat-icon>show_chart</mat-icon>
                <span class="info_width"> Score : </span>
                <span class="align_info"> {{score || "No score yet"}} </span>
            </mat-toolbar-row>
          
            <mat-toolbar-row>
                <mat-icon>flag</mat-icon>
                <span class="info_width">Status : </span>
                <span class="align_info"> {{infos?.status}} </span>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <mat-icon>play_circle_filled</mat-icon>
                <span class="info_width">Episodes : </span>
                <span class="align_info"> {{infos?.episodes}} </span>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <mat-icon>create</mat-icon>
                <span class="info_width">Author(s) : </span>
                <span class="align_info"> </span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="synopsis">
            {{infos?.synopsisEN}}
        </div>
    </mat-card-content>
</mat-card>


<mat-card class="comment_card mat-elevation-z5" style="margin-top: 10px;margin-bottom: 50px;">
    <mat-card-content>
        <form>
            <mat-form-field style="width:82%;padding-left:10%;padding-top: 20px;">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput id="comment" name="comment" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" [(ngModel)]="comment"></textarea>
            </mat-form-field><br>
            <button class="submit_comment" (click)="openDialog()"> New comment</button>
        </form>      
    </mat-card-content>
</mat-card>
  
<mat-card class="comment_card mat-elevation-z5" style="margin-bottom: 15px;"*ngFor="let comments of infos?.commentsAnimes">
    <mat-card-header>
        <mat-card-title>{{comments.user.username}}</mat-card-title>
        <mat-card-subtitle> {{comments.date | date:'dd/MM/yy, h:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="padding-left: 30px;padding-right: 30px;font-size: 14px;">
        {{comments.comment}}
    </mat-card-content>
</mat-card>