.anime_img{
    position: absolute;
    top: 380px;
    left: 120px;
    z-index: 10;
}

.anime_card{
    background-color: #424242;
    width: 90%;
    margin-left: 5%;
    padding: 0;
    font-family: Acme;
    padding-bottom: 40px;
}

.comment_card{
    background-color: #424242;
    width: 90%;
    margin-left: 5%;
    padding: 0;
    font-family: "EB Garamond";
    padding-bottom: 25px;
    padding-top: 15px;
    text-align: justify;
}

.submit_comment{
    position: relative;
    left: 80%;
    color: white;
    padding: 5px;
    background: #F45F4A;
    border: 1px solid #424242;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Acme;
    font-size: 16px;
    text-align:center;
}

.not_connected{
    color: #F45F4A;
    padding: 5px;
    padding-left: 80%;
    font-family: Acme;
    font-size: 12px;
}

.comment_card .mat-card-title{
    color: #F45F4A;
    opacity: 100%;
}

.comment_card .mat-card-subtitle{
    color: white;
    opacity: 45%;
}

.comment_card .mat-card-content{
    color: white;
    opacity: 75%;
}

.li{
    color:#212121;
    font-family: Acme;
    font-size: 12px;
}


.titleAnime{
    position: absolute;
    z-index: 10;
    color:white;
    font-size: 70px;
    position: absolute;
    top: 12%;
    left: 8%;
    text-shadow: 2px 0px 5px #000000, -2px 0px 5px #000000, 0px 2px 5px #000000, 0px -2px 5px #000000;
}

.info_width{
    margin-left: 15px;
    width: 150px;
    color:white;
    opacity: 75%;
}

.align_info{
    margin-left: 10px;
    color:white;
    opacity: 75%;
}

.synopsis{
    margin-top: 50px;
    margin-left:5%;
    width: 90%;
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
    opacity: 75%;
    font-family: "EB Garamond";
    white-space: pre-wrap;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
    opacity: 50%;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #F45F4A !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #F45F4A !important;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
    opacity: 50%;
}