<div class="toolbar" >
  <div class="logo"> Logo Site</div>
  <div class="menu">
    <button class="effect" routerLink="/animes" routerLinkActive="active">Anime</button>
    <button class="effect">Manga</button>
    <button class="effect">Community</button>
  </div>
  <div *ngIf='logged!="true"' class="account">
    <button class="effect" routerLink="/login" routerLinkActive="active">Login</button>
    <button class="register" routerLink="/register" routerLinkActive="active">Sign Up</button>
  </div>
  <div *ngIf='logged=="true"' class="account">
    <button class="effect" routerLink="/profile/{{decoded['username']}}" routerLinkActive="active">{{decoded["username"]}} </button>
  </div>
</div>

  
<!--  <mat-carousel interval="10000">
    <mat-carousel-slide image="../assets/frame.png"></mat-carousel-slide>
    <mat-carousel-slide image="../assets/onep.png"></mat-carousel-slide>
    <mat-carousel-slide image="../assets/dbz.png"></mat-carousel-slide>
  </mat-carousel>



<mat-icon>expand_more</mat-icon>
-->