.left-panel{
    width: 20%;
    height: 472px;
    margin-top: 40px;
    margin-left: 2%;
    background-color: #424242;
    float: left;
    color: white;
    opacity: 75%;
}

.panel-container{
    float: right;
    width: 72%;
    margin-right: 2%;
    margin-top: 40px;
}

.panel{
    height: 200px;
    background-color: #424242;
    color: white;
    opacity: 75%;
}

.mat-card-subtitle{
    color: white;
    opacity: 75%;
}

canvas{
    height: 80% !important;
    margin: 0 auto;
}

li{
    margin-left: -30px;
    color:#212121;
    font-family: Acme;
    font-size: 18px;
    color: white;
    opacity: 75%;
}

.mat-icon {
    font-size: 10px;
    height: 10px;
  }

.green-icon{
    color: #009900;
}

.blue-icon{
    color: #3333cc;
}

.red-icon{
    color: #b30000;
}

.yellow-icon{
    color: #ffcc00;
}

.gray-icon{
    color: #a6a6a6;
}



img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }