
<div class="login-page">

    <div style="text-align: center;padding-top: 100px;">
        <p class="grey" style="margin-bottom: -4px;">You don't have an account yet ?</p>
        <button class="orange" routerLink="/register" routerLinkActive="active">Register here</button>
    </div>
    
    <div style="width: 25%;margin: auto;padding-top: 20px;">
        <form (submit)="submit()">
    
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
            
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"  required>
                
            <button type="submit">Login</button>
        </form>
    </div>
    
    <div style="text-align: center;">
        <button class="grey2">Forgot your password ?</button>
    </div>

    <div class="svg-design">
        <img  width="100%" src="../../../assets/login-wave.png">
    </div>
</div>
 