/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.register-page{
    width: 100vw;
    height: 100vh;
    background-color: #1A1A1B;
}