/* You can add global styles to this file, and also import other style files */
@import 'custom-theme.scss';


.register-page{
    width: 100vw;
    height: 100vh;
    background-color: #1A1A1B;
}

.login-page{
    width: 100vw;
    height: 100vh;
    background-color: #1A1A1B;
}