
.register-page{
  width: 100vw;
  height: 100vh;
  background-color: #1A1A1B;
}

.svg-design{
    position: absolute;
    bottom: 0;
}

form{
    position: absolute;
    left:37.5%;
    top: 10%;
    width: 100%;
}
input{
    width: 25%;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    box-sizing: border-box;
    background: #3B3C3E;
    border: 1px solid #616163;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Acme;
    font-size: 18px; 
    color: white;
  }

  label{
    font-family: Acme;
    color: #8F8F8F;
  }
  button[type=submit] {
    width: 25%;
    height: 40px;
    color: white;
    padding: 0;
    margin-top: 20px;
    background: #F45F4A;
    border: 1px solid #616163;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Acme;
    font-size: 24px;
    text-align:center;
  }